html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: HYHeiLiZhiTiJ;
}

@font-face {
    font-family: 'HYHeiLiZhiTiJ';
    src: url('../public/HYHeiLiZhiTiJ.ttf');
}

::-webkit-input-placeholder,
#age_dummy,
select {
    font-family: 'HYHeiLiZhiTiJ';
}

.bg {
    background-color: #FF4945;
    height: 60%;
    background-image: url(../public/indexbg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    min-height: 280px;
}

.bgresult {
    background-image: url(../public/result.png);
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    height: 70%;
}

.result {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.result span {
    flex: 1;
    min-width: 240px;
}

.content {
    height: 40%;
    position: relative;
    /*min-height: 270px;*/
    background-image: url(../public/indexfooter.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
}

.form {
    min-width: 240px;
    max-width: 340px;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 280px;
    transform: translate(-50%, -50%);
}

.form .form-group {
    text-align: center;
    margin-bottom: 8px;
}

.form .form-group:last-child {
    margin-bottom: 0px;
}

.form-group.title {
    margin-bottom: 6px;
    font-size: 20px;
}

.form-group.footer {
    margin-bottom: 6px;
    font-size: 20px;
    color: #000;
    opacity: .6;
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #000;
    border-radius: 8px;
    padding: 6px 16px;
    font-size: 24px;
    font-family: 'HYHeiLiZhiTiJ';
}

#ageselect_dummy {
    /*height: 44px;*/
    display: none;
}

input:focus {
    outline: none;
}

.btn {
    font-size: 20px;
    background-color: #FED517;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 8px;
    position: relative;
    text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    -webkit-text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    -moz-text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
    *filter: Glow(color = #fff, strength = 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:after {
    height: 15%;
    position: absolute;
    background-color: #FFF;
    content: '';
    border-top: 3px solid #000;
    display: inline-block;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.age,
.sex {
    display: inline-block;
}

.age {
    float: left;
    width: 48%;
}

.sex {
    float: right;
    width: 48%;
}

.sex div {
    width: 50%;
    height: 44px;
    line-height: 28px;
    border: 3px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #DBDBDB;
    font-size: 24px;
    padding: 6px 0px;
    cursor: pointer;
}

.sex .female {
    float: left;
    border-right: 1.5px solid #000;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sex .male {
    float: right;
    border-left: 1.5px solid #000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sex .selected {
    background-color: #FD4A44;
}

.btn-submit {
    box-sizing: border-box;
    width: 100%;
    height: 54px;
    font-size: 24px;
    line-height: 40px;
}

.resultcontent {
    background-color: #FF4945;
    background-image: none;
    height: 30%
}

.repeat,
.save,
.share {
    box-sizing: border-box;
    height: 45px;
    font-size: 24px;
    line-height: 36px;
}

.repeat {
    width: 100%;
    margin-top: 10px;
}

.save {
    width: 55%;
}

.share {
    width: 40%;
    background-color: #CFCFCF;
}

.mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 20000;
    display: none;
}

.mcover .mcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: #FFF;
    text-align: center;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}

.mcover .mcontent .mclose {
    width: 30px;
    height: 30px;
    /*line-height: 24px;*/
    color: #FFF;
    font-size: 24px;
    position: absolute;
    top: -30px;
    right: -30px;
    border: 3px solid #FFF;
    border-radius: 24px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
    display:inline-block;
    box-sizing: border-box;
}

.mcover .mcontent img {
    /*width: 100%;*/
}

.mcover .mshare img {
    position: fixed;
    top: 10px;
    right: 40px;
    width: 100px;
    height: 120px;
}

#audio_btn {
    position: fixed;
    top: 10px;
    right: 10px;
}